.logo {
    position: absolute;
    top: 10px;
    padding-left: 50px;
    z-index: 1;
}

.tel-up {
    position: relative;
    margin-left: 79%;
    top: 20px;
}

.landing{
    height: 530px;
    width: 100%;
    background: url('../images/landing.jpg') no-repeat center center; 
    background-size:cover;
}

.logo img {
    width: 245px;
    height: 162px;
}

.logo::after, .logo::before {
    position: absolute;
    width: 248px;
    height: 40px;
    background-color: #ED2560;
    content: ' ';
    z-index: -1;
}

.logo::before{
    bottom: -6px;
    left: 45px;
}

.logo::after{
    top: -6px;
    left: 52px;
}

.header, .tel-up, #description, .text-p{
    font-family: 'poppins medium';
}

.header, .tel-up, footer {
    font-size: 20px;    
}

.header {
    height: 65px;
    background: #ED2560;
    margin-top: 30px;
}

#nav-group a {
    color: blanchedalmond;
    height: 65px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#nav-group a:hover, ul li a:hover, #menu-iconos li a:hover {
    background-color: #E19BB0;
}

.card-services {
    margin: 20px 20px;
    width: 340px;
    height: 549px;
    box-shadow: -5px -5px 15px rgb(211, 208, 208), 5px 5px 15px rgb(211, 208, 208);
    background-color: white;
}

.rectangle{
    position: absolute;
    height: 250px;
    width: 170px;
    border: 5px solid #ED2560;
    z-index: -1;
    margin-top: 350px;
}

.img-top {
    height: 304px;
    width: 312px;
    margin-top: 10px;
}

.subtitulo, .text-resumen {
    margin-top: 20px;
    text-align: center;
}

.text-resumen {
    margin-top: 25px;
}

.btn {
    background-color: #ED2560;
    color: blanchedalmond;
    width: 40%;
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    margin: 100px 0 50px;
    background-color: #ED2560;
    height: 160px;
    display: flex;
    align-items: center;
}

footer img{
    height: 80%;
    width: 70%;
}

#description, .subtitulo, .text-resumen{
    font-size: 18px;
}

.text-p{
    font-size: 2.5rem;
}

.rosa, .rosa-negrita{
    color: #ED2560
}

.rosa-negrita, .negrita{
    font-weight: 550;
}

.poppins-l{
    font-size: 16px;
    font-family: 'Poppins light';
}

.circle::before{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #E19BB0;
    content: ' ';
    z-index: -1;
    border-radius: 50px;
    left: 505px;    
}

ul li{
    list-style: none;
    font-size: 16px;
    line-height: 2;
    color: blanchedalmond;
}

ul li a{
    text-decoration: none;
    color: blanchedalmond;
}

.principal{
    font-size: 20px;
}

#menu-iconos{
	display: flex;
}

#menu-iconos li{
	display: inline-block;
    margin-right: 40px;
	height: 50px;
	text-align: center;
    font-size: 40px;
}